<a href="https://colab.research.google.com/github/Seanghor/Machine-Learning/blob/main/Assignment/Unit3_KNN_(Assignmet_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Lib
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing

In Machine Learning, StandardScaler is used to resize the distribution of values   so that the mean of the observed values   is 0 and the standard deviation is 1. StandardScaler comes into play when the characteristics of the input dataset differ greatly between their ranges.

In [2]:
from google.colab import files 
upload = files.upload ()

Saving Iris.csv to Iris.csv

In [3]:
# Dataset: Iris
iris=pd.read_csv("Iris.csv")
iris.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
iris.shape

(150, 6)

In [5]:
iris.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [6]:
#select the variables (x-FUELCONSUMPTION_HWY , y - CO2EMISSIONS)

x_variable = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'] #input, Multiple input
y_variable = ['Species'] #output

len(x_variable)
#reshape variable
x = iris[x_variable].values.reshape(-1,4) # 1st value is -1, next value is the length of x_variable
y = iris[y_variable].values.reshape(-1,1)
print(x.shape)
print(y.shape)

#(or)
#z = np.array(dataset[x_variable]).reshape(-1,4)
#w = np.array(dataset[y_variable]).reshape(-1,1)
#print(z.shape)
#print(w.shape)

(150, 4)
(150, 1)

In [7]:
#split the dataset
x_train, x_test, y_train, y_test =  train_test_split(x, y, test_size = 0.2,random_state=1) # 80% for train, 20% for testing
print(x_train.shape)
print(y_test.shape)

(120, 4)
(30, 1)

In [8]:
# model building (using KNN model)
# from sklearn.neighbors import KNeighborsClassifier
knn_model=KNeighborsClassifier(n_neighbors=5,n_jobs=-1).fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [9]:
x_test.shape

(30, 4)

In [10]:
#Train the dataset
y_predict =knn_model.predict(x_test)
print('y_predict:', y_predict)

y_predict: ['Iris-setosa' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-virginica' 'Iris-setosa'
 'Iris-setosa' 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica']

In [11]:
y_predict.shape

(30,)

In [12]:
knn_model.predict_proba(x_test)

array([[1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [0. , 0. , 1. ],
       [0. , 0.8, 0.2],
       [0. , 0. , 1. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0.6, 0.4],
       [1. , 0. , 0. ],
       [0. , 0. , 1. ],
       [0. , 1. , 0. ],
       [1. , 0. , 0. ],
       [1. , 0. , 0. ],
       [0. , 1. , 0. ],
       [0. , 0.4, 0.6]])

In [ ]:
# =========================================================

**Task**
# Pedict the actual value
# Create a table of actual result
# Predict result

In [28]:
# 1. Create a table between acutal and predict
# 2. Check the formular of accuracy score
# 3. Find the procedure to get the optimal K-value

**# 1. Create a table between acutal and predictt**

In [29]:
# Give the input and predict the value
input=np.array([4.6, 3.4, 1.4, 0.3]) # predict id = 7
input =input.reshape(-1,4)

In [31]:
# predict a single value
y_predict1 = knn_model.predict(input)
print(y_predict1)

['Iris-setosa']

In [32]:
knn_model.predict_proba(input)

array([[1., 0., 0.]])

In [33]:
# Find the accuracy of the results 
# Evaluation matrix = Accuray of your result

In [34]:
# Accuracy of the test dataset
from sklearn.metrics import accuracy_score
accuracy_result = accuracy_score(y_test,y_predict)
print(accuracy_result)

1.0

In [19]:
print(y_test.shape)

(30, 1)

In [35]:
print(y_test)

[['Iris-setosa']
 ['Iris-versicolor']
 ['Iris-versicolor']
 ['Iris-setosa']
 ['Iris-virginica']
 ['Iris-versicolor']
 ['Iris-virginica']
 ['Iris-setosa']
 ['Iris-setosa']
 ['Iris-virginica']
 ['Iris-versicolor']
 ['Iris-setosa']
 ['Iris-virginica']
 ['Iris-versicolor']
 ['Iris-versicolor']
 ['Iris-setosa']
 ['Iris-versicolor']
 ['Iris-versicolor']
 ['Iris-setosa']
 ['Iris-setosa']
 ['Iris-versicolor']
 ['Iris-versicolor']
 ['Iris-versicolor']
 ['Iris-setosa']
 ['Iris-virginica']
 ['Iris-versicolor']
 ['Iris-setosa']
 ['Iris-setosa']
 ['Iris-versicolor']
 ['Iris-virginica']]

In [21]:
li = y_test.reshape(-1)
print(li)

['Iris-setosa' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-virginica' 'Iris-setosa'
 'Iris-setosa' 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica']

In [22]:
print(y_predict)

['Iris-setosa' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-virginica' 'Iris-setosa'
 'Iris-setosa' 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica']

In [25]:
# table syle 2:
from tabulate import tabulate
l = list(zip(li, y_predict))
lists = [list(x) for x in l]
pred_y_df = pd.DataFrame({'Actual Value' : lists,'Predicted Value' : y_predict})
pred_y_df[0:20]

                          Actual Value  Predicted Value
0           [Iris-setosa, Iris-setosa]      Iris-setosa
1   [Iris-versicolor, Iris-versicolor]  Iris-versicolor
2   [Iris-versicolor, Iris-versicolor]  Iris-versicolor
3           [Iris-setosa, Iris-setosa]      Iris-setosa
4     [Iris-virginica, Iris-virginica]   Iris-virginica
5   [Iris-versicolor, Iris-versicolor]  Iris-versicolor
6     [Iris-virginica, Iris-virginica]   Iris-virginica
7           [Iris-setosa, Iris-setosa]      Iris-setosa
8           [Iris-setosa, Iris-setosa]      Iris-setosa
9     [Iris-virginica, Iris-virginica]   Iris-virginica
10  [Iris-versicolor, Iris-versicolor]  Iris-versicolor
11          [Iris-setosa, Iris-setosa]      Iris-setosa
12    [Iris-virginica, Iris-virginica]   Iris-virginica
13  [Iris-versicolor, Iris-versicolor]  Iris-versicolor
14  [Iris-versicolor, Iris-versicolor]  Iris-versicolor
15          [Iris-setosa, Iris-setosa]      Iris-setosa
16  [Iris-versicolor, Iris-versicolor]  Iris-versicolor
17  [Iris-versicolor, Iris-versicolor]  Iris-versicolor
18          [Iris-setosa, Iris-setosa]      Iris-setosa
19          [Iris-setosa, Iris-setosa]      Iris-setosa

**# 2. Check the formular of accuracy score**

Accuracy = Number of Correct Predictions / Total Number of Predictions

**3. Find the procedure to get the optimal K-valuet**


*   Initialize a random K value and start computing
*   Choosing a small value of K leads to unstable decision boudaries


*   The substantial K value is better for classification as it leads to smoothening the decision boundaries
*   Derive a plot between error rate and K denoting values in a defined range. Then choose the K value as having a minimum error rate.

[ReferenceLink](https://towardsdatascience.com/how-to-find-the-optimal-value-of-k-in-knn-35d936e554eb)