<a href="https://colab.research.google.com/github/Seanghor/Machine-Learning/blob/main/Mid%20Term%20Exam/Mid_Term_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A:Find the assigned company name from the below list 
# B:Please download the 2021(Jan to Dec month) dataset of your assigned company from yahoo finance.

In [ ]:
# C:Clean data

# Import library:
import sklearn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
# Import dataset
from google.colab import files
upload = files.upload()

# Now i choose the file to import to google colab:

Saving GS (1).csv to GS (1) (1).csv

In [ ]:
# Just to clearify: I print 15 columns from dataset
dataset = pd.read_csv('GS (1).csv')
dataset.head(15)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-01-04,267.000000,267.579987,260.160004,265.000000,257.326202,3572000
1,2021-01-05,263.880005,273.500000,262.570007,270.929993,263.084503,4207100
2,2021-01-06,276.290009,288.380005,273.100006,285.549988,277.281097,6383500
3,2021-01-07,287.769989,295.890015,286.679993,291.649994,283.204437,4009700
4,2021-01-08,292.000000,292.279999,285.059998,290.079987,281.679932,2800800
5,2021-01-11,286.799988,295.000000,284.200012,293.829987,285.321320,2649700
6,2021-01-12,297.140015,303.980011,296.019989,302.209991,293.458649,4814400
7,2021-01-13,300.079987,303.720001,299.100006,302.940002,294.167572,2413800
8,2021-01-14,304.049988,309.410004,303.540009,307.869995,298.954773,3192200
9,2021-01-15,301.190002,304.859985,296.880005,301.010010,292.293457,3863700
10,2021-01-19,305.000000,306.600006,293.799988,294.200012,285.680634,6727800
11,2021-01-20,295.820007,297.450012,287.480011,290.470001,282.058624,4792600
12,2021-01-21,290.450012,292.739990,288.529999,289.369995,280.990479,2516000
13,2021-01-22,286.690002,290.589996,285.500000,289.390015,281.009918,2568800
14,2021-01-25,285.529999,286.350006,277.500000,283.040009,274.843781,4575000

In [ ]:
# Checking for missing value of dataset:
dataset.isnull
dataset.isnull().sum()/len(dataset)

Date         0.0
Open         0.0
High         0.0
Low          0.0
Close        0.0
Adj Close    0.0
Volume       0.0
dtype: float64

In [ ]:
# Since, there is no missing value, So i don't have to clean
# D:Fill the missing values of the dataset using the average of column “Low “ from the dataset. 
# E:Find the missing percent of each column

In [ ]:
# G:Build a multiple linear regression model to predict the closing price using the volume, low and high price of the dataset? 

# To predict: Closing price
# Using: Volume, Low, High


x_var = ['Volume', 'Low', 'High']
y_var = ['Close']

x = dataset[x_var].values.reshape(-1, 3)
y = dataset[y_var].values.reshape(-1, 1)

# Given: Testing = 20%, Training = 80%
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

# build a model Multiple Linear:
multiple_reg = LinearRegression()

#  For training:
model = multiple_reg.fit(x_train, y_train)

# Intercept: Q_0
Q_0 = model.intercept_
# Slope(Coefficients):
Q_i = model.coef_

print('Intercept:', Q_0)
print('Slope(Coefficient):', Q_i)


# use x_test to find y_predict:
# y_pred = model.predict(x_test)
# print('y-predict:', y_pred)

# Take the values from dataset to predict:
x_assume = np.array([4207100, 262.570007, 273.500000])
x_assume = x_assume.reshape(-1, 3)

y_pred = model.predict(x_assume)
print('y_pred:', y_pred)

Intercept: [2.37378857]
Slope(Coefficient): [[2.01501791e-07 7.41574522e-01 2.55568669e-01]]
y_pred: [[267.83478516]]

In [ ]:
# Use any one of the evaluation models to justify your predicted result
y_predict = model.predict(x_test)
print('Mean Square Error: %.4f :' % mean_squared_error(y_test, y_predict))

Mean Square Error: 7.8772 :